<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
  <meta charset="UTF-8">
</head>
<body>


<div class="container-fluid vertical-center">
  <div class="container">
    <div class="row justify-content-center text-center pt-2">
      <div class="col-auto">
        <a routerLink="">
          <img
            class="d-inline-block align-text-top pt-1 img-fluid"
            src="assets/image/emt-logo-small2.png"
            alt=""
            width="140"
            height="140"
          />
        </a>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <form [formGroup]="codeForm" (submit)="onSubmit()" class="row g-3 justify-content-center">
        <div class="row justify-content-center">
          <div class="col-auto">
            <input type="text" class="form-control mainLoginInput" id="otpCode" name="otpCode" formControlName="otpCode" placeholder="&#61572;  Authenticator Code" >
          </div>
          <div class="row justify-content-center pt-2">
            <div class="col-auto">
            </div>
          </div>
          <div class="row justify-content-center text-center pt-1">
            <div class="col-auto">
              <div *ngIf="error">
                <p class="error" >Codice TOTP invalido</p>
              </div>
              <button type="submit" class="btn btn-primary mb-3" >Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>
</body>
</html>
