a {
    text-decoration: none !important;
    flex-basis: fit-content;
}

.error{
    color: #ff0000;
}

.navbar-nav{
    right:0;
    position: absolute;
}

.nav-link{
    color: dodgerblue;
}
.nav-link:hover{
    color: #0d6efd;
}
#data-table-fs {
    height: 400px;
    width: 100%;
}
#data-table-gd {
    height: 400px;
    width: 100%;
}
.dropdown-menu[data-bs-popper] {

    right: 1px !important;
    left:auto; !important;;
}
.full-vh {
    height: calc(var(--vh, 1vh) * 70);
}
.ag-header-cell-label, .ag-header-group-cell-label{
    justify-content: center;
}
/*
.ag-theme-alpine {
     disable all borders
    --ag-borders: right;
     then add back a border between rows
    --ag-row-border-width: 5px;
    --ag-row-border-color: black;
}*/